h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1D3354;
    color: white;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: white;
    color: grey;
}

.card-body {
    text-align: center;
}

.form-floating {
    margin-bottom: 15px;
    width: 100%;
}

.footer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1D3354;
}

@media (min-width: 768px) {
    .container {
        width: 60%;
    }

    .card {
        flex-direction: row;
        padding: 40px;
    }

    .card-body, .footer {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 40%;
    }
}